/* General */
body {
    margin: 0; /* Quitar margen superior y lateral */
    padding: 0;
    font-family: Georgia, sans-serif;
    background-color: #f9f9f9;
    color: #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Eliminar la barra de desplazamiento */
}

/* Contenedor principal */
.container {
    width: 100vw; /* Asegurarse de que ocupe todo el ancho de la ventana */
    height: 100%; /* Mantener toda la altura */
    max-width: none; /* Eliminar restricción de ancho máximo */
    background-color: white;
    padding: 60px 100px 20px 100px; /* Ajustar padding si es necesario */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box; /* Asegurarse que padding no afecte el tamaño total */
}

/* Imagen de perfil */
.profile-img {
    width: 100%; /* Ancho completo del contenedor */
    height: 250px; /* Ajuste de altura para la imagen */
    object-fit: cover; /* Asegurar que la imagen se recorte correctamente */
    margin: 0 auto 15px auto;
    display: block;
    border-radius: 10px; /* Bordes ligeramente redondeados */
}

/* Títulos */
h1 {
    font-size: 2.5rem; 
    margin: 1;
    color: #063689; 
}

h1 span {
    font-weight: bold;
    color: #063689; 
}

h2 {
    font-size: 1.4rem; /* Ajuste de tamaño */
    font-weight: bold;
    color: #063689; /* Misma tonalidad que 'Videla' */
    margin-bottom: 15px;
}

/* Biografía */
p {
    font-size: 1rem; /* Tamaño más pequeño para evitar desplazamiento */
    line-height: 1.3;
    margin-bottom: 10px;
}

/* Redes Sociales */
.social-icons {
    margin-bottom: 20px; /* Reducir margen inferior */
}

.social-icons a {
    margin: 0 15px; /* Reducir separación entre iconos */
    font-size: 1.5rem; 
    color: #3f9acb;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #063689;
}

/* Botones de navegación */
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Reducir espacio entre botones */
}

.buttons button {
    padding: 10px 25px; /* Tamaño más pequeño */
    border: 2px solid #3f9acb;
    background: none;
    color: #3f9acb;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: #f3e483;
    color: rgb(9, 9, 9);
}

/* Responsivo */
@media (max-width: 768px) {
    .container {
        width: 100%; /* Ajustar para móviles */
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1rem;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
}
